@font-face {
    font-family: Aboreto;
    src: url(./assets/fonts/Aboreto/Aboreto-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf);
}

@font-face {
    font-family: Megrim;
    src: url(./assets/fonts/Megrim/Megrim-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
